@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

html {
  font-size: 50px;
  font-family: 'Merriweather', serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* font-family: "Roboto", sans-serif; */
/* font-family: 'Great Vibes', cursive; */
header {
  background-color: #DAB88B;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.cidade {
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  width: 50%;
  align-self: center;
  margin-left: 3%;
}

.botoes-nav {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  font-size: 0.5rem;
  width: 50%;
  font-weight: bold;
}

.botoes-nav > li {
  display: flex;
  align-self: center;
  display: flex;
  margin-right: 5%;
  justify-content: center;
}

.botao-menu {
  height: 49%;
  width: 20%;
  background-color: #F3E9DD;
  border-radius: 10%;
  border: 2px solid #000000;
  padding-top: 0.9%;
}

.botao-menu > a {
  color: #000000;
}

.capa {
  width: 100%;
  height: 500px;
  background-image: url("../img/capaPoa.jpg"); 
  background-position: center; 
  background-size: cover;
}

.curiosidades-cards {
  width: 100%;
  height: 650px;
  background-color: #F3E9DD;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}

 h2 {
  color: #000000;
  font-size: 0.8rem;
  margin: 2%;
}

.card {
  width: 29.3%;
  height: 90%;
  background-color: grey;
  border-radius: 5%;
  margin: 5px;
  font-size: 0.5rem;
  padding: 1%;
}

.container-video {
  width: 100%;
  height: 800px;
  background-color: #FDF6EC;
  display: flex;
  flex-direction: column;
}

.container-principal {
 background-color: #F3E9DD;
}


.video {
  width: 100%;
  height: 600px;
  background-color: #FDF6EC;
  display: flex;
  justify-content: center;
}

.video > iframe {
  width: 80%;
  height: 600px;
  display: flex;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #B7CADB;
}
